<% if current_user.admin? %>
	<li class = "<%= controller_name == 'users' ? 'active':'' %>">
	<%= link_to(raw("<i class='icon-user'></i><span class='hidden-tablet'> Usuarios</span>"),users_path) %>
	<%= link_to(raw("<i class='icon-flag'></i><span class='hidden-tablet'> Valor Dolar</span>"), setting_path(Setting.last.id)) %>
	</li>
<% end %>