<legend>Nuevo tipo de cambio</legend>
<p class="alert alert-success">
Los registros almacenados con otro tipo de cambio, no serán afectados, el nuevo tipo de cambio se reflejará en los registros a partir de haberlo actualizado.
<a class="close" href="#" data-dismiss="alert">×</a>
</p>

<%= render 'form' %>