<% content_for :sidebar do %>
	<li class = "<%= controller_name == 'dashboards' ? 'active':'' %>">
	  <%= link_to(raw("<i class='icon-th-large'></i><span class='hidden-tablet'> Tablero principal</span>"),dashboards_path) %>
	</li>
	<li class = "<%= controller_name == 'reports' ? 'active':'' %>">
	  <%= link_to(raw("<i class='icon-list-alt'></i><span class='hidden-tablet'> Informes</span>"),dashboards_path) %>
	</li>
<% end %>